 @import './const.css';
 .nv-bar {
     position: sticky;
     position: -webkit-sticky;
     top: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 10vh;
     z-index: 1000;
     overflow: hidden;
 }
 
 .nv-bar.lt {
     background: var(--lt-main-t);
     box-shadow: 0 0 8px var(--lt-main);
 }
 
 .nv-bar.drk {
     background: var(--drk-main-t);
     box-shadow: 0 0 8px var(--drk-secondary);
 }
 
 .title {
     margin: 0 20px 0 20px;
     cursor: pointer;
 }
 
 .title .exercism-vector-labeled {
     width: 140px;
     height: 80px;
 }
 
 .title.lt .exercism-vector-labeled {
     fill: var(--lt-main-nv);
 }
 
 .title.drk .exercism-vector-labeled {
     fill: var(--lt-main-t);
 }
 
 .title .theme-change-dialogue {
     position: absolute;
     overflow: visible;
 }
 
 .nv-link .exercism-dashboard,
 .nv-link .exercism-tracks,
 .nv-link .exercism-mentoring,
 .nv-link .exercism-contribute {
     width: 30px;
     height: 30px;
     fill: none;
 }
 
 .nv-link.lt .exercism-dashboard,
 .nv-link.lt .exercism-tracks,
 .nv-link.lt .exercism-mentoring,
 .nv-link.lt .exercism-contribute {
     stroke: var(--lt-main-sv);
 }
 
 .nv-link.drk .exercism-dashboard,
 .nv-link.drk .exercism-tracks,
 .nv-link.drk .exercism-mentoring,
 .nv-link.drk .exercism-contribute {
     stroke: var(--drk-main-sv);
 }
 
 .nv-navigation,
 .nv-link {
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .nv-navigation {
     list-style: none;
     margin: 0 15px 0 15px;
 }
 
 .nv-link {
     margin: 0 10px 0 5px;
     cursor: pointer;
     font-size: 1.2rem;
     font-family: altona;
 }
 
 .nv-link.lt {
     color: var(--lt-main-sv);
 }
 
 .nv-link.drk {
     color: var(--drk-main-sv);
 }
 
 .nv-link-lk {
     padding: 10px;
 }
 
 .nv-link-logo {
     font-size: 0.8rem;
 }
 
 .nv-bar section,
 .nv-controlls,
 .nv-view {
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 
 .nv-controlls {
     justify-self: flex-end;
 }
 
 .nv-btn-s .exercism-testimonials,
 .nv-btn-s .exercism-badges,
 .nv-btn-s .exercism-notifications,
 .nv-reputation .exercism-reputation {
     width: 24px;
     height: 24px;
     fill: none;
     stroke-width: 1.5px;
     stroke-linecap: round;
     stroke-linejoin: round;
     transition: all ease 0.1s;
 }
 
 .nv-btn-s.lt .exercism-testimonials,
 .nv-btn-s.lt .exercism-badges {
     stroke: var(--lt-main);
 }
 
 .nv-btn-s.drk .exercism-testimonials,
 .nv-btn-s.drk .exercism-badges {
     stroke: var(--drk-main);
 }
 
 .nv-btn-s.lt .exercism-notifications {
     stroke: var(--lt-shine);
 }
 
 .nv-btn-s.drk .exercism-notifications {
     stroke: var(--lt-main-t);
 }
 
 .nv-reputation .exercism-reputation {
     stroke: gold;
     margin: 1px 2px 1px 2px;
 }
 
 .nv-btn-s .exercism-testimonials:hover,
 .nv-btn-s .exercism-badges:hover {
     stroke: var(--lt-secondary);
     transition: all ease 0.1s;
 }
 
 .nv-btn-s {
     margin-right: 40px;
 }
 
 .nv-btn {
     cursor: pointer;
     margin: 5px 12px 5px 12px;
 }
 
 .ntm {
     width: 40px;
     height: 40px;
     border-radius: 8px;
     padding: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .ntm.lt {
     box-shadow: 0 0 6px var(--lt-shine);
 }
 
 .ntm.lt:hover {
     box-shadow: 0 0 10px var(--lt-shine);
 }
 
 .ntm.drk {
     box-shadow: 0 0 6px var(--lt-main-t);
 }
 
 .ntm.drk:hover {
     box-shadow: 0 0 10px var(--lt-main-t);
 }
 
 .theme-main-circle,
 .theme-helping-circle {
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 5;
     overflow: -moz-hidden-unscrollable;
 }
 
 .theme-main-circle.lt {
     background: var(--lt-shine);
     width: 14px;
     height: 14px;
 }
 
 .theme-main-circle.drk {
     background: #fff;
     width: 24px;
     height: 24px;
 }
 
 .theme-light-shine {
     width: 6px;
     height: 6px;
     border-radius: 50%;
 }
 
 .theme-main-circle .theme-light-shine,
 .nv-btn .theme-helping-circle {
     position: absolute;
 }
 
 .theme-main-circle .theme-light-shine.lt {
     background-color: var(--lt-shine);
 }
 
 .theme-main-circle .theme-light-shine.drk {
     background-color: var(--lt-main-t);
 }
 
 .theme-helping-circle {
     width: 20px;
     height: 20px;
 }
 
 .theme-helping-circle.lt {
     visibility: hidden;
 }
 
 .theme-helping-circle.drk {
     visibility: visible;
     background-color: var(--drk-main-t);
     transform: translateX(6px) translateY(-6px);
 }
 
 .shine1.lt {
     transform: translateY(-12px);
 }
 
 .shine2.lt {
     transform: translateY(-8px) translateX(8px);
 }
 
 .shine3.lt {
     transform: translateY(12px);
 }
 
 .shine4.lt {
     transform: translateY(8px) translateX(8px);
 }
 
 .shine5.lt {
     transform: translateX(12px);
 }
 
 .shine6.lt {
     transform: translateY(8px) translateX(-8px);
 }
 
 .shine7.lt {
     transform: translateX(-12px);
 }
 
 .shine8.lt {
     transform: translateY(-8px) translateX(-8px);
 }
 
 .nv-reputation {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     font-weight: 80;
     font-family: lora;
     border-radius: 100px;
     background-clip: padding-box, border-box;
     background-color: var(--lt-main);
     border: 3px solid #00000000;
     background-origin: border-box;
     border: 2px solid linear;
     padding: 2px 12px 2px 12px;
     margin-right: 8px;
 }
 
 .nv-reputation {
     background-image: linear-gradient(var(--lt-main-nv), var(--lt-main-nv)), linear-gradient(var(--lt-secondary), #20f);
 }
 
 .nv-rep-val {
     padding: 0 5px 0 10px;
 }
 
 .nv-user-dp {
     border-radius: 50%;
     margin: 0 5px 0 10px;
     cursor: pointer;
 }
 
 .nv-user-control .exercism-more-vertical {
     width: 20px;
     height: 20px;
     fill: none;
     stroke-width: 1.5px;
     margin-right: 12px;
     cursor: pointer;
 }
 
 .nv-user-control.lt .exercism-more-vertical {
     stroke: black;
 }
 
 .nv-user-control.drk .exercism-more-vertical {
     stroke: white;
 }
 
 .pg-content {
     width: 100%;
 }