@import './const.css';
.ts-content,
.ts-logo,
.ts-load,
.ts-circle-cover,
.testimonial,
.ts-d-lg,
.lang-lg,
.mentor-,
.ts-ud {
    display: flex;
}

.ts-content {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ts-content.lt {
    background-color: var(--lt-main-t)
}

.ts-content.drk {
    background-color: var(--drk-main-content)
}

.ts-logo {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.ts-testimonials,
.ts-badges {
    position: absolute;
}

.ts-badges {
    width: 100px;
    height: 100px;
}

.ts-badges .exercism-badges {
    width: 100px;
    height: 100px;
    fill: none;
}

.ts-badges.lt .exercism-badges,
.ts-testimonials.lt .exercism-testimonials {
    stroke: var(--drk-main-t);
}

.ts-badges.drk .exercism-badges,
.ts-testimonials.drk .exercism-testimonials {
    stroke: var(--drk-secondary);
}

.ts-testimonials .exercism-testimonials {
    width: 40px;
    height: 40px;
    fill: none;
    stroke-width: 1.5px;
}

.ts-badges-rot {
    animation: rot-badges 2s cubic-bezier(0.9, 0.57, 0.21, 0.36) forwards infinite;
}

.ts-lg {
    display: inline;
}

.ts-lg .exercism-chevron-down {
    width: 24px;
    height: 24px;
    fill: none;
    stroke-width: 2px;
}

.ts-lg.lt .exercism-chevron-down {
    stroke: var(--drk-main-t);
}

.ts-lg.drk .exercism-chevron-down {
    stroke: var(--drk-secondary);
}

@keyframes rot-badges {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.ts-head {
    font-family: poppins;
    font-size: 2.6rem;
}

.ts-head.lt {
    color: var(--lt-secondary-d-light);
}

.ts-head.drk {
    color: var(--drk-secondary);
}

.ts-table {
    width: 90%;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin: 15px 5px 20px 5px;
    border-radius: 8px;
    z-index: 5;
}

.ts-table.lt {
    box-shadow: 0 0 8px var(--lt-main);
}

.ts-table.drk {
    box-shadow: 0 0 8px var(--lt-main-t);
}

.ts-table-data::-webkit-scrollbar {
    display: none;
}

.ts-table-head {
    max-width: 100%;
    z-index: 5;
    border-radius: 8px 8px 0 0;
}

.ts-table-head.lt,
.ts-navigation.lt {
    background: var(--lt-main-t);
}

.ts-table-head.drk,
.ts-navigation.drk {
    background: var(--drk-main-content);
}

.ts-table .ts-table-head {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 4;
}

.ts-sort-track {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ts-logo-tes-show {
    display: flex;
}

.ts-logo-tes-hide {
    display: none;
}

.ts-sort-track-lg {
    width: 70px;
    height: 70px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.ts-lg-track {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts-logo-track {
    width: 70px;
    height: 70px;
}

.ts-logo-track .exercism-badges {
    width: 100%;
    height: 100%;
    fill: none;
}

.ts-logo-track.lt .exercism-badges {
    stroke: var(--drk-main-t);
}

.ts-logo-track.drk .exercism-badges {
    stroke: var(--lt-main-t);
}

.ts-logo-tes {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ts-sort-track-lg .ts-logo-tes,
.ts-sort-track-lg .ts-track-drop-down {
    position: absolute;
}

.ts-sort-track-lg .ts-track-drop-down {
    right: -15px;
}

.ts-track-drop-down {
    height: 14px;
    width: 14px;
    fill: none;
    stroke-width: 2px;
}

.ts-track-drop-down.up {
    transform: rotateZ(180deg);
}

.ts-track-drop-down.lt {
    stroke: var(--drk-main-content);
}

.ts-track-drop-down.drk {
    stroke: var(--lt-main-t);
}

.ts-logo-tes .exercism-testimonials {
    width: 90%;
    height: 90%;
    fill: none;
}

.ts-logo-tes.lt .exercism-testimonials {
    stroke: var(--drk-main-t);
}

.ts-logo-tes.drk .exercism-testimonials {
    stroke: var(--lt-main-t);
}

.ts-table-head .ts-search {
    position: absolute;
    right: 0;
}

.ts-search {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    background-color: var(--search-bg);
}

.ts-search .exercism-search {
    width: 30px;
    height: 30px;
    fill: var(--drk-secondary-content);
    stroke: none;
}

.exercism-search {
    margin: 0 15px 0 5px;
}

.ts-search-input {
    max-width: fit-content;
    background-color: transparent;
    font-size: 1rem;
    margin-right: 5px;
    font-family: sarabun;
}

.ts-sort {
    margin-left: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 0;
}

.ts-sort-value {
    width: 150px;
    padding: 12px 10px 12px 10px;
    font-family: quicksand;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.ts-sort-value.lt {
    background-color: var(--drk-main-content);
    color: var(--lt-main-t);
    border-bottom: 2px solid var(--lt-main-t);
}

.ts-sort-value.drk {
    background-color: var(--lt-main-t);
    color: var(--drk-main-content);
    font-weight: bold;
    border-bottom: 2px solid var(--drk-main-content);
}

.ts-sort .ts-sort-selector {
    top: 75%;
    position: absolute;
}

.ts-sort-selector {
    background: transparent;
    appearance: none;
    overflow: hidden;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.ts-sort-selector.lt {
    color: var(--lt-main-t);
}

.ts-sort-selector.drk {
    color: var(--drk-main-content);
}

.ts-sort-selector-hide {
    max-height: 0;
}

.ts-selector-item {
    padding: 15px;
    font-family: cabin;
    cursor: pointer;
}

.ts-selector-item.lt {
    background: var(--drk-main-content);
}

.ts-selector-item.drk {
    background: var(--lt-main-t);
}

.ts-selector-item.lt:hover {
    background-color: var(--lt-secondary-hover);
}

.ts-selector-item.drk:hover {
    background-color: var(--drk-secondary-hover);
}

.ts-track-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    appearance: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    z-index: 900;
    width: fit-content;
    top: 100%;
    transition: all ease 0.4s;
}

.ts-track-selector-show {
    max-height: 500px;
    height: 400px;
}

.ts-track-selector-hide {
    max-height: 0;
}

.ts-table .ts-track-container {
    position: absolute;
}

.ts-track-container::-webkit-scrollbar {
    display: none;
}

.ts-search-input .ts-track-container {
    left: 0;
}

.ts-no-result {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    margin: 12px;
    color: var(--lt-main-t);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ts-load {
    margin: 15px 0 15px 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.ts-circle-cover {
    width: 30px;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ts-load-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--lt-secondary-sv);
}

.c1 {
    animation: load-lt 2s ease infinite;
}

.c2 {
    animation: load-lt 2s ease infinite;
    animation-delay: 0.5s;
}

.c3 {
    animation: load-lt 2s ease infinite;
    animation-delay: 0.75s;
}

.c4 {
    animation: load-lt 2s ease infinite;
    animation-delay: 1s;
}

@keyframes load-lt {
    0% {
        scale: 1;
        background-color: var(--lt-secondary-sv);
    }
    50% {
        transform: scaleY(1.5) scaleX(1.5);
        background-color: var(--lt-secondary);
    }
    100% {
        scale: 1;
        background-color: var(--lt-secondary-sv);
    }
}

@keyframes load-drk {
    0% {
        scale: 1;
        background-color: var(--lt-secondary-sv);
    }
    50% {
        transform: scaleY(1.5) scaleX(1.5);
        background-color: var(--lt-secondary);
    }
    100% {
        scale: 1;
        background-color: var(--lt-secondary-sv);
    }
}

.ts-table-data,
.ts-track-container {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ts-table-data {
    overflow: auto;
    background: linear-gradient(to bottom right, var(--lt-secondary), var(--lt-main));
    max-height: 100vh;
    scroll-behavior: smooth;
}

.testimonial {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: var(--lt-main-t);
    z-index: 1;
    margin-top: 5px;
    padding: 10px;
}

.testimonial:hover {
    background: var(--lt-secondary-d-dark);
}

.ts-ud {
    flex-direction: row;
    align-items: center;
    width: 30%;
    word-wrap: break-word;
    margin-right: 5px;
}

.ts-d-lg {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
}

.mentor-lg {
    width: 65px;
    height: 65px;
    margin: 0 5px 0 5px;
}

.lang-lg {
    width: 60px;
    height: 60px;
    align-items: center;
    padding: 5px;
}

.lg {
    border-radius: 50%;
    overflow-x: hidden;
}

.ts-mentor-ico {
    width: 65px;
    height: 65px;
}

.ts-d-content {
    width: 50%;
    word-wrap: break-word;
    text-align: center;
}

.ts-details {
    max-width: 50%;
    font-family: nunito;
}

.ts-det {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ts-user {
    max-width: 100%;
    font-size: 1.15rem;
    font-family: fredoka;
    color: var(--const-highlight);
}

.ts-exercise {
    font-size: 0.95rem;
    position: relative;
    overflow: visible;
    display: flexbox;
    align-items: center;
}

.ts-user-track {
    color: var(--const-highlight-shine);
}

.ts-exercise-title {
    text-decoration: underline var(--const-highlight);
}

.ts-exercise .ts-exercise-icon {
    position: absolute;
    right: 0;
}

.ts-exercise-icon {
    width: 60px;
    height: 0;
    z-index: 2000;
    align-self: center;
}

.ts-exercise:hover .ts-exercise-icon {
    height: 60px;
}

.ts-d-content {
    font-family: sarabun;
    text-align: left;
}

.ts-date {
    font-family: source-sans;
    padding-left: 15px;
    word-wrap: break-word;
    text-align: center;
    display: flex;
}

.ts-last .ts-link {
    position: absolute;
    right: -50%;
}

.ts-last {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.ts-link {
    cursor: pointer;
    fill: var(--lt-main-t);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
}

.ts-link .exercism-arrow-right {
    width: 24px;
    height: 24px;
    stroke: none;
    fill: var(--lt-main-t);
}

.ts-link:hover {
    box-shadow: 0 0 8px var(--drk-main-content);
}

.testimonial:hover .ts-link {
    right: 2%;
}

.ts-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: nunito;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.ts-nav-btn {
    padding: 18px 20px 18px 20px;
}

.ts-nav-btn.ts-disabled {
    background-color: var(--lt-disabled);
}

.ts-nav-btn.ts-enabled {
    background-color: var(--lt-main-t);
    cursor: pointer;
}

.ts-nav-btn.ts-enabled:hover {
    background-color: var(--lt-secondary);
    color: var(--lt-main-t);
}

.ts-nav-btn.lt.ts-enabled:hover {
    box-shadow: 0 0 8px var(--drk-main-content);
}

.ts-nav-btn.drk.ts-enabled:hover {
    box-shadow: 0 0 8px var(--drk-secondary);
}

.ts-pg-num,
.ts-pg {
    display: flex;
    flex-direction: row;
}

.ts-pg.lt:hover {
    box-shadow: 0 0 8px var(--drk-main-content);
}

.ts-pg.drk:hover {
    box-shadow: 0 0 8px var(--drk-secondary);
}

.ts-pg {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-family: cabin;
    font-weight: 1000;
}

.ts-pg.drk {
    background-color: var(--lt-main-t);
    color: var(--drk-main-content);
}

.ts-pg.lt {
    box-shadow: 0 0 5px var(--drk-main-content);
}

.ts-pg.crc.lt {
    background-color: var(--lt-main);
    color: var(--lt-main-t);
}

.ts-pg.crc.drk {
    background-color: var(--lt-main-sv);
    color: var(--lt-main-t);
}

.pag-more {
    display: flex;
    align-items: center;
}

.pag-more.lt {
    color: var(--drk-main-content);
}

.pag-more.drk {
    color: var(--lt-main-t);
}

@media screen and (max-width: 900px) {
    .testimonial {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .ts-ud,
    .ts-d-content,
    .ts-last {
        width: 100%;
    }
    .ts-ud {
        position: relative;
    }
    .ts-ud .lang-lg {
        position: absolute;
        left: -1%;
        bottom: 0;
        padding: 0;
    }
    .ts-lang-ico,
    .lang-lg {
        width: 30px;
        height: 30px;
    }
    .ts-exercise {
        font-size: 0.9rem;
    }
    .ts-d-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0 6px 0;
        padding: 0 25px 0 25px;
    }
    .ts-exercise {
        cursor: default;
    }
    .ts-exercise-icon {
        display: none;
    }
    .ts-last .ts-link {
        position: static;
    }
    .ts-last {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .ts-link {
        width: 50px;
        height: 100%;
        box-shadow: 0 0 8px var(--drk-content);
        border-radius: 12px;
    }
    .ts-date {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 720px) {
    .ts-head {
        font-size: 1.6rem;
    }
    .ts-table-head {
        justify-content: space-between;
    }
    .ts-table-head .ts-track-container {
        top: 0;
        width: 100%;
        height: 100%;
    }
    .ts-track-container {
        flex-direction: row;
        min-height: 100%;
        z-index: 4000;
    }
    .ts-track-selector-hide {
        max-width: 0;
    }
    .ts-track-selector-show {
        max-width: 100%;
    }
    .ts-sort-track-lg,
    .ts-logo-track {
        width: 45px;
        height: 45px;
    }
    .ts-logo-tes {
        width: 20px;
        height: 20px;
    }
    .ts-search {
        display: none;
    }
    .ts-sort {
        width: 100px;
        margin-right: 15px;
    }
    .ts-sort-value {
        margin: 0;
        font-size: 0.65rem;
    }
    .ts-sort .ts-sort-selector {
        top: 79%;
    }
    .ts-sort-selector {
        font-size: 0.64rem;
    }
    .ts-date {
        font-size: 0.74rem;
    }
    .ts-navigation {
        width: 100%;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }
    .ts-nav-btn {
        width: 30%;
        font-size: 0.8rem;
        padding: 6px 8px 6px 8px;
        border-radius: 8px;
        letter-spacing: 0;
        margin: 0 5px 0 5px;
        color: var(--lt-main-t);
        box-shadow: none;
    }
    .ts-nav-btn.ts-enabled {
        background-color: var(--lt-secondary);
    }
    .ts-nav-btn.ts-disabled {
        background-color: var(--drk-secondary-hover);
    }
    .ts-pg {
        width: 25px;
        height: 25px;
        margin: 0 2px 0 2px;
        font-size: 0.7rem;
    }
}