.ts-content,
.ts-logo,
.ts-load,
.ts-circle-cover,
.testimonial,
.ts-d-lg,
.lang-lg,
.mentor-,
.ts-ud {
    display: flex;
}

.ts-content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ts-logo {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}

.ts-testimonials,
.ts-badges {
    position: absolute;
}

.ts-badges-rot {
    animation: rot-badges 2s cubic-bezier(0.9, 0.57, 0.21, 0.36) forwards infinite;
}

@keyframes rot-badges {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.ts-head {
    font-family: poppins;
    font-size: 2.6rem;
    color: rgba(3, 9, 25, 0.85);
}

.ts-table {
    width: 90%;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: #afafaf;
    margin: 15px 5px 20px 5px;
    border-radius: 8px;
    box-shadow: 0 0 8px #2200FF;
    z-index: 5;
}

.ts-table-data::-webkit-scrollbar {
    display: none;
}

.ts-table-head {
    width: 100%;
    height: fit-content;
    background: white;
    z-index: 5;
    border-radius: 8px 8px 0 0;
}

.ts-table .ts-table-head {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.ts-search-track {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ts-logo-tes-show {
    display: flex;
}

.ts-logo-tes-hide {
    display: none;
}

.ts-search-lg {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ts-logo-track {
    width: 70px;
    height: 70px;
}

.ts-logo-tes {
    width: 35px;
    height: 35px;
}

.ts-search-lg .ts-logo-tes {
    position: absolute;
}

.ts-search {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 8px 35px 8px 20px;
    background-color: #bdbdbf;
    border-radius: 100px;
}

.bi-search {
    margin: 0 15px 0 5px;
}

.ts-search-input {
    width: 90%;
    background-color: transparent;
    font-size: 1rem;
    font-family: sarabun;
}

.ts-sort {
    width: 16%;
    min-width: fit-content;
    margin: 5px 15px 5px 5px;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.ts-sort-value {
    height: max-content;
    padding: 12px 10px 12px 10px;
    font-family: quicksand;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.ts-sort .ts-sort-selector {
    position: absolute;
}

.ts-sort-selector {
    width: 16%;
    min-width: fit-content;
    background: transparent;
    appearance: none;
    cursor: pointer;
    color: white;
    overflow: hidden;
    max-height: 1000px;
}

.ts-sort-selector-hide {
    max-height: 0;
}

.ts-selector-item {
    padding: 15px 10px 15px 10px;
    font-family: cabin;
    cursor: pointer;
    background: #000;
}

.ts-selector-item:hover {
    background-color: #323232;
}

.ts-track-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    appearance: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    z-index: 900;
    width: fit-content;
    top: 100%;
    transition: all ease 0.4s;
}

.ts-track-selector-show {
    max-height: 500px;
    height: 400px;
}

.ts-track-selector-hide {
    max-height: 0;
}

.ts-table .ts-track-container {
    position: absolute;
}

.ts-track-container::-webkit-scrollbar {
    display: none;
}

.ts-search-input .ts-track-container {
    left: 0;
}

.ts-no-result {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    margin: 12px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ts-load {
    margin: 15px 0 15px 0;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.ts-circle-cover {
    width: 30px;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ts-load-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: wheat;
}

.c1 {
    animation: load 2s ease infinite;
}

.c2 {
    animation: load 2s ease infinite;
    animation-delay: 0.5s;
}

.c3 {
    animation: load 2s ease infinite;
    animation-delay: 0.75s;
}

.c4 {
    animation: load 2s ease infinite;
    animation-delay: 1s;
}

.ts-table-data,
.ts-track-container {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ts-table-data {
    overflow: auto;
    background: linear-gradient(to bottom right, #9E00FF, #2200FF);
    max-height: 100vh;
    scroll-behavior: smooth;
}

.testimonial {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
    z-index: 1;
    margin-top: 5px;
    padding: 10px;
}

.testimonial:hover {
    background: rgba(3, 9, 25, 0.2);
}

.ts-ud {
    flex-direction: row;
    align-items: center;
    width: 30%;
    word-wrap: break-word;
    margin-right: 5px;
}

.ts-d-lg {
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
}

.mentor-lg {
    width: 65px;
    height: 65px;
    margin: 0 5px 0 5px;
}

.lang-lg {
    width: 60px;
    height: 60px;
    align-items: center;
    padding: 5px;
}

.lg {
    border-radius: 50%;
    overflow-x: hidden;
}

.ts-mentor-ico {
    width: 65px;
    height: 65px;
}

.ts-d-content {
    width: 50%;
    word-wrap: break-word;
    text-align: center;
}

.ts-details {
    font-family: nunito;
}

.ts-det {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ts-user {
    font-size: 1.15rem;
    font-family: fredoka;
    color: aquamarine;
}

.ts-exercise {
    font-size: 1.01rem;
}

.ts-user-track {
    color: gold;
}

.ts-exercise-title {
    text-decoration: underline aqua;
}

.ts-d-content {
    font-family: sarabun;
    text-align: left;
}

.ts-date {
    font-family: source-sans;
    padding-left: 15px;
    word-wrap: break-word;
    text-align: center;
    display: flex;
}

.ts-last .ts-link {
    position: absolute;
    right: -50%;
}

.ts-last {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.ts-link {
    cursor: pointer;
    fill: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
}

.ts-link:hover {
    box-shadow: 0 0 8px black;
}

.testimonial:hover .ts-link {
    right: 2%;
}

.ts-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: nunito;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

.ts-nav-btn {
    padding: 18px 20px 18px 20px;
}

.ts-nav-btn.ts-disabled {
    background-color: #999;
}

.ts-nav-btn.ts-enabled {
    background-color: white;
    cursor: pointer;
}

.ts-nav-btn.ts-enabled:hover {
    box-shadow: 0 0 8px black;
    background-color: #9E00FF;
    color: white;
}

.ts-pg-num,
.ts-pg {
    display: flex;
    flex-direction: row;
}

.ts-pg:hover {
    box-shadow: 0 0 8px black;
}

.ts-pg {
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-family: barlow;
    font-weight: 1000;
}

.ts-pg.crc {
    background-color: #2200FF;
    color: white;
}

@keyframes load {
    0% {
        scale: 1;
        background-color: wheat;
    }
    50% {
        transform: scaleY(1.5) scaleX(1.5);
        background-color: #9E00FF;
    }
    100% {
        scale: 1;
        background-color: wheat;
    }
}

@media screen and (max-width: 720px) {
    .ts-head {
        font-size: 1.6rem;
    }
    .ts-table-head .ts-track-container {
        top: 0;
        width: 100%;
        height: 100%;
    }
    .ts-track-container {
        flex-direction: row;
        min-height: 100%;
        z-index: 4000;
    }
    .ts-track-selector-hide {
        max-width: 0;
    }
    .ts-track-selector-show {
        max-width: 100%;
    }
    .ts-search-lg,
    .ts-logo-track {
        width: 35px;
        height: 35px;
    }
    .ts-logo-tes {
        width: 17px;
        height: 17px;
    }
    .ts-search {
        padding: 8px;
    }
    .ts-sort {
        width: 5%;
        font-size: 1rem;
    }
    .ts-sort-value {
        font-size: 0.7rem;
    }
    .ts-sort-selector {
        width: 35%;
        font-size: 0.64rem;
    }
    .testimonial {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .ts-ud,
    .ts-d-content,
    .ts-last {
        width: 100%;
    }
    .ts-ud {
        position: relative;
    }
    .ts-ud .lang-lg {
        position: absolute;
        left: -1%;
        bottom: 0;
        padding: 0;
    }
    .ts-lang-ico,
    .lang-lg {
        width: 30px;
        height: 30px;
    }
    .ts-exercise {
        font-size: 0.9rem;
    }
    .ts-d-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0 6px 0;
        padding: 0 25px 0 25px;
    }
    .ts-last .ts-link {
        position: static;
    }
    .ts-last {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .ts-link {
        width: 50px;
        height: 100%;
        box-shadow: 0 0 8px black;
        border-radius: 12px;
    }
    .ts-date {
        font-size: 0.7rem;
    }
    .ts-navigation {
        width: 100%;
        justify-content: center;
        padding: 10px;
        text-align: center;
    }
    .ts-nav-btn {
        width: 30%;
        font-size: 0.8rem;
        padding: 6px 8px 6px 8px;
        border-radius: 8px;
        letter-spacing: 0;
        margin: 0 5px 0 5px;
        color: white;
        box-shadow: none;
    }
    .ts-nav-btn.ts-enabled {
        background-color: #9E00FF;
    }
    .ts-nav-btn.ts-disabled {
        background-color: #afafaf;
    }
    .ts-pg {
        width: 25px;
        height: 25px;
        margin: 0 2px 0 2px;
        font-size: 0.7rem;
    }
}